<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap Example</title>
      <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     
   </head>
   <body>
    <div class="alert alert-success text-center h-100" role="alert">
        <h1 class="alert-heading">WELCOME TO VIDYA ASHRAM</h1>
        <h4 class="alert-heading">Thanks for Register</h4>
            <h5>Plz verify Your Email</h5>
        <hr>
        <p class="mb-0">We have send you a verification </p>
        
      </div>
   </body>
</html>